html, body {
    height: 100%;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.container2 {
    width: 100%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: maroon;
  color: white;
}

.topnav-right {
  float: right;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    margin: 0px;
    height: 40px;
    background-color: #333;
}

.currentOrder {
    min-width: 400px;
    height: 100%;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notes {
    resize: none;
}

.noteLabel {
    display: block;
}

.items {
    width: 100%;
    height: 230px;
    overflow-y: auto;
}

hr {
    margin: 10px 20px;
}


.products {
    height: 47.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
}

.latestOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    border-style: solid;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    /* border-style: solid; */
    height: 90px;
}

.total {
    align-self: center;
}

.btn, .showBtn {
    padding: 0px;
    margin: 10px;
}


.btn, .showBtn:hover {
    cursor: pointer;
}

.cancelBtn:hover{
    background-color: red;
    cursor: pointer;
}

.confirm {
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
}

.confirm:hover {
    background-color: green;
    cursor: pointer;
}

.amount {
    width: 50px;
    pointer-events: none; 
}

.productName {
    width: 50px;
    pointer-events: none; 
}

.users {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    border-style: solid;
}

.usersMenu {
    width: 250px;
    height: 30px;
}

.orders {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .orders td, .orders th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .orders tr:nth-child(even){background-color: #f2f2f2;}
  
  .orders tr:hover {background-color: gray;}
  
  .orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightslategrey;
    color: white;
  }

.ordersContainer{
    flex: 1 0 auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

 .orderTable{
     min-width: 100%;
 }

 .userOrder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}