.container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.container2 {
    width: 100%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: maroon;
  color: white;
}

.topnav-right {
  float: right;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #333;
}

.currentOrder {
    min-width: 400px;
    height: 100%;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notes {
    resize: none;
}

.noteLabel {
    display: block;
}

.items {
    width: 100%;
    height: 230px;
    overflow-y: auto;
}

hr {
    margin: 10px 20px;
}


.products {
    height: 47.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
}

.latestOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    border-style: solid;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border-style: solid;
    height: 90px;
}

.total {
    align-self: center;
}

.btn {
    padding: 0px;
    margin: 10px;
}
.btn:hover {
    cursor: pointer;
}
.confirm {
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
}

.confirm:hover {
    background-color: green;
    cursor: pointer;
}

.amount {
    width: 50px;
    pointer-events: none; 
}

.productName {
    width: 50px;
    pointer-events: none; 
}

.users {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    border-style: solid;
}

.usersMenu {
    width: 250px;
    height: 30px;
}