.currentOrder {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 400px;
    height: 500px;
    border-style: solid;
}

.notes {
    margin: 20px;
    width: 260px;
}

.currentOrder  p {
    display: inline-block;
}

.items {
    width: 100%;
    height: 150px;
}

hr {
    margin: 10px 20px;
}

.confirm{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.products {
    position: absolute;
    top: 300px;
    right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 700px;
    height: 200px;
    border-style: double;
}

.latestOrder {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 500px;
    height: 200px;
    border-style: solid;
}

.sep {
    position: absolute;
    top: 260px;
    right: 5px;
    width: 750px;
}

.item {
    margin: 10px;
    border-style: solid;
    height: 40px;
}

.total {
    padding: 10px;
}

.btn {
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
}






