.container {
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

.container2 {
    width: 100%;
}

.currentOrder {
    min-width: 400px;
    height: 500px;
    border-style: solid;
}

.notes {
    resize: none;
}

.noteLabel {
    display: block;
}

.items {
    width: 100%;
    height: 230px;
}

hr {
    margin: 10px 20px;
}


.products {
    width: 100%;
    height: 200px;
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-style: double;
}

.users {
    /* position: absolute;
    right: 50px;
    top: 50px; */
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    border-style: solid;
}

.sep {
    position: absolute;
    top: 260px;
    right: 5px;
    width: 750px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-style: solid;
    height: 90px;
}

.total {
    padding: 10px;
}

.btn {
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
}

.amount {
    width: 50px;
    pointer-events: none; 
}

.productName {
    width: 50px;
    pointer-events: none; 
}

.usersMenu {
    width: 250px;
    height: 30px;
}