.container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.container2 {
    width: 100%;
}

nav {
    font-size: 2rem;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

nav p {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 2;
    background-color: black;
    color: blanchedalmond;
    width: 30%;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 70%;
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
}

nav ul li a {
    margin: 0px;
    padding: 0px;
    text-decoration: inherit;
    color: inherit;
}
nav ul li:hover {
    background-color: maroon;
    color: wheat;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: gray;
}

.currentOrder {
    min-width: 400px;
    height: 100%;
    border-style: solid;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

form {
    width: 100%;
}

.notes {
    resize: none;
}

.noteLabel {
    display: block;
}

.items {
    width: 100%;
    height: 230px;
    overflow-y: auto;
}

hr {
    margin: 10px 20px;
}


.products {
    height: 47.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
}

.latestOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    border-style: solid;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    border-style: solid;
    height: 90px;
}

.total {
    align-self: center;
}

.btn {
    padding: 0px;
    margin: 10px;
}
.btn:hover {
    cursor: pointer;
}
.confirm {
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
}

.confirm:hover {
    background-color: green;
    cursor: pointer;
}

.amount {
    width: 50px;
    pointer-events: none; 
}

.productName {
    width: 50px;
    pointer-events: none; 
}